@import "_partials/_reset";
@import "_partials/_variables";
@import "_font-awesome/font-awesome";

html {
  background: #fff;
  font-family:"Helvetica-Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, span, button, strong, em, i {
  font-family:"Helvetica-Neue", Arial, sans-serif;
}

button {
  box-sizing: border-box;
  border: none;
  border-radius: 99em;
  background: black;
  padding: 0px;
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.fpsmeter {
  background: black;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}

// Application Styles
@import "_partials/_game";
@import "_partials/_header";
@import "_partials/_home";
@import "_partials/_piece";
@import "_partials/_stages";
@import "_partials/_splash";
@import "_partials/_triangle";