.gamemenu {
  &.gamemenu-description {
    text-align: center;
  }
}

.gameboard-buttons,
.gamemenu-buttons {
  .btn {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    background: darken(whitesmoke, 15%);
    border: 5px solid darken(whitesmoke, 5%);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 99em;
    color: white;
  }

  .btn-continue,
  .btn-resume {
    background: darken(@cc3-green, 10%);
    border-color: lighten(@cc3-green, 0%);
  }

  .btn-quit {
  }
}

.gameboard-backing {
  
}

.gameboard-board {
  background: white url('../images/tile-patterns/tile-gray-bg.png') 0 0 repeat;
  background-size: auto auto;
}

.gameboard-win {
  .message {
    text-align: center;
    padding: 20px 0 0;
  }
}