.bg-home {
  background-color: @bgHome;  
}

.bg-logo {
  background-color: @bgLogo;
}

.btn-play.btn-wrapper,
.btn-about.btn-wrapper,
.btn-resume.btn-wrapper {
  background-color: black;

  .btn-label {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    line-height: 30px;
  }
}

.btn-play.btn-title,
.btn-about.btn-title,
.btn-resume.btn-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  font-style: italic;
}