.bg-home {
  background-color: @bgHome;  
}

.logo.logo-bg {
  background-color: fade(@bgLogo, 70%);
}

.logo.logo-brick {
  background-color: @baige;
}

.btn-play.btn-wrapper,
.btn-about.btn-wrapper,
.btn-resume.btn-wrapper {

  button {
    background-color: @home-btnBg;
    border: 5px solid lighten(@home-btnBg, 15%);
    height: 100%;
    font-weight: bold;
  }

  .btn-label {
    color: @home-btnTextColor;
    text-transform: uppercase;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
  }
}