.piece {
  border-radius: 99em;
  border: 5px solid white;
}

.piece-mini {
  border: none;
}

.piece.level-done.backing {
  background-color: white !important;
  border-width: 30px;
}

// ------------------------------------------------------------
// ------------------------------------------------------------
// ------------------------------------------------------------
// Stage Specific

.stage-1 {

  &.color-1 {
    &.piece {
      background-color: @cc1-color1;
    }

    &.level-done {
      border-color: @cc1-color1;
    }
  }

  &.color-2 {
    &.piece {
      background-color: @cc1-color2;
    }

    &.level-done {
      border-color: @cc1-color2;
    }
  }

  &.color-3 {
    &.piece {
      background-color: @cc1-color3;
    }

    &.level-done {
      border-color: @cc1-color3;
    }
  }

  &.color-4 {
    &.piece {
      background-color: @cc1-color4;
    }

    &.level-done {
      border-color: @cc1-color4;
    }
  }
}

.stage-2 {

  &.color-1 {
    &.piece {
      background-color: @cc2-color1;
    }

    &.level-done {
      border-color: @cc2-color1;
    }
  }

  &.color-2 {
    &.piece {
      background-color: @cc2-color2;
    }

    &.level-done {
      border-color: @cc2-color2;
    }
  }

  &.color-3 {
    &.piece {
      background-color: @cc2-color3;
    }

    &.level-done {
      border-color: @cc2-color3;
    }
  }

  &.color-4 {
    &.piece {
      background-color: @cc2-color4;
    }

    &.level-done {
      border-color: @cc2-color4;
    }
  }
}

.stage-3 {
  &.piece.color-1 {

  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}

.stage-4 {
  &.piece.color-1 {

  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}

.stage-5 {
  &.piece.color-1 {

  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}

.stage-6 {
  &.piece.color-1 {

  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}

.stage-7 {
  &.piece.color-1 {

  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}