.stage-1 {
  &.piece.color-1 {
    background-color: @cc1-orange;
  }

  &.piece.color-2 {
    background-color: @cc1-seagreen;
  }

  &.piece.color-3 {
    background-color: @cc1-yellow;
  }
}

.stage-2 {
  &.piece.color-1 {
    
  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}

.stage-3 {
  &.piece.color-1 {

  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}

.stage-4 {
  &.piece.color-1 {

  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}

.stage-5 {
  &.piece.color-1 {

  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}

.stage-6 {
  &.piece.color-1 {

  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}

.stage-7 {
  &.piece.color-1 {

  }

  &.piece.color-2 {
    
  }

  &.piece.color-3 {
    
  }
}