.stage-bg.active {
  border-bottom: 10px solid white;
}

.stage-1 {
  &.stage-bg {
    background-color: @cc1-baige;

    &.active {
      border-color: darken(@cc1-baige, 5%);
    }
  }

  &.stage-level-bg {
    background-color: darken(@cc1-baige, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc1-baige, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}

.stage-2 {
  &.stage-bg {
    background-color: @cc3-marigold;

    &.active {
      border-color: darken(@cc3-marigold, 5%);
    }
  }

  &.stage-level-bg {
    background-color: darken(@cc3-marigold, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc3-marigold, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}

.stage-3 {
  &.stage-bg {
    background-color: @cc3-salmon;

    &.active {
      border-color: darken(@cc3-salmon, 5%);
    }
  }

  &.stage-level-bg {
    background-color: darken(@cc3-salmon, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc3-salmon, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}

.stage-4 {
  &.stage-bg {
    background-color: @cc4-clay;

    &.active {
      border-color: darken(@cc4-clay, 5%);
    }
  }

  &.stage-level-bg {
    background-color: darken(@cc4-clay, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc4-clay, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}

.stage-5 {
  &.stage-bg {
    background-color: @cc2-light-mint;

    &.active {
      border-color: darken(@cc2-light-mint, 5%);
    }
  }

  &.stage-level-bg {
    background-color: darken(@cc2-light-mint, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc2-light-mint, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}

.stage-6 {
  &.stage-bg {
    background-color: @cc1-seagreen;

    &.active {
      border-color: darken(@cc1-seagreen, 5%);
    }
  }

  &.stage-level-bg {
    background-color: darken(@cc1-seagreen, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc1-seagreen, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}