.stage-bg {}

.stage-1 {
  &.stage-bg {
    background-color: @cc1-baige;
  }

  &.stage-level-bg {
    background-color: darken(@cc1-baige, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc1-baige, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}

.stage-2 {
  &.stage-bg {
    background-color: @cc3-marigold;
  }

  &.stage-level-bg {
    background-color: darken(@cc3-marigold, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc3-marigold, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}

.stage-3 {
  &.stage-bg {
    background-color: @cc3-salmon;
  }

  &.stage-level-bg {
    background-color: darken(@cc3-salmon, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc3-salmon, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}

.stage-4 {
  &.stage-bg {
    background-color: @cc4-clay;
  }

  &.stage-level-bg {
    background-color: darken(@cc1-red, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc1-red, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}

.stage-5 {
  &.stage-bg {
    background-color: @cc2-light-mint;
  }

  &.stage-level-bg {
    background-color: darken(@cc2-light-mint, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc2-light-mint, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}

.stage-6 {
  &.stage-bg {
    background-color: @cc1-seagreen;
  }

  &.stage-level-bg {
    background-color: darken(@cc1-seagreen, 10%);
  }

  &.stage-level-current {
    font-weight: bold;
    text-decoration: underline;
  }

  &.stage-level-incomplete {
    background-color: darken(@cc1-seagreen, 10%);
  }

  &.stage-level-complete {
    &.stage-level--color1 {

    }

    &.stage-level--color2 {
      
    }

    &.stage-level--color3 {
      
    }
  }
}