// Colors

@baige: #F1E7C3;
@brick: #9B2840;
@lightTeal: #DDF6E8;
@orange: #F67933;
@lightBlue: #65C6D4;
@skyBlue: #53A7D5;
@navy: #313541;
@red: #F80A41;
@teal: #348375;
@forest: #284141;
@magenta: #FF3C63;


// Color Assignments
@bgHome: #FFFFFF;
@bgLogo: @lightTeal;

// Color Combinations
@cc1-baige: #F4F0E4;
@cc1-orange: #F55638;
@cc1-seagreen: #5AB4B2;
@cc1-yellow: #EBAA4C;
@cc1-red: #B30313;

// Mint 
@cc2-dark-mint: #58BEA9;
@cc2-mint: #82DFCC;
@cc2-light-mint: #BBF5E9;

@cc3-mint: #95D6D2;
@cc3-green: #BEE3D2;
@cc3-marigold: #FCB040;
@cc3-salmon: #F9B6B3;
@cc3-gray: #D9D3D3;

@cc4-purple: #9B8AB8;
@cc4-yellow: #FFDDB2;
@cc4-blue: #CBE1FD;
@cc4-clay: #E1A391;
@cc4-baige: #E0D2C3;
@cc4-salmon: #D1A5B1;
@cc4-brown: #D7A097;
